{% extends 'base.html' %}
    {% block heading %}
    Results
    {% endblock %}

    {% block content %}
        <ul>
            {% for incident in incidents %}
                <div class="col-12 col-md-12 mb-3">
                    <div class="card p-3">
                        <!-- <h5>Vulnerability: {{ incident.vul_id }}</h5> <!- actual vulnerability here not just vul_id -->
                        <h1>{{ incident.inc_name }} {{incident.vul_name}} Incident</h1>
                        <p>{{ incident.inc_year }}</p>
                        <p><a href="{{ incident.inc_url }}" target="_blank" rel="noopener noreferrer">{{ incident.inc_url }}</a></p> <!-- Clickable link here!-->
                    </div>
                </div>
            {% endfor %}
        </ul>
    <a href="/" class="btn btn-success">Return Home</a>
     {% endblock %}